@charset "utf-8";
body {
  color: #69555B;
}

h1 {
  color: #BA5E83;
}

h2 {
    color: #BA5E83;
    text-align: center;
    position: relative;
    border: medium solid #BA5E83;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
div {
  background-color: #DFE0E1;
  color: #BA5E83;
}

